<h1>
	<%= gravatar_for @user, size: 40 %> <br>
	Player 
	<%= @user.id%>  <br>
	<%= @user.name%>
</h1>
<p>That's all</p>
<li>
  <%= link_to "Sign out", signout_path, method: "delete" %>
</li>
 
<div class="span8">
  <% if @user.games.any? %>
    <h3>Games (<%= @user.games.count %>)</h3>
    <ol class="games">
      <%= render @games %>
    </ol>
  <% end %>
</div>